h3 {
    margin-top: 1%;
    margin-bottom: 1%;
}
.grid-container {
    max-width: 75%;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    text-align: center;
}